$displayFont: 'Arial', sans-serif;
$defaultFont: 'Merriweather', serif;

$white: #fff;
$black: #4A4A4A;
$gray: #ccc;
$red: #f00;


$primary-color: $gray;
$secondary-color: $red;
$tertiary-color: $black;

