.index {
    &Hero {
        text-align: center;
        background: url(/img/hero.jpg) no-repeat center center;
        background-size: cover;
        height: 450px;
        color: $white;

        @media (max-width: $screen-md-max) {

        }

        @media (max-width: $screen-sm-max) {

        }

        @media (max-width: $screen-xs-max) {
            height: auto;
            padding-bottom: 40px;
        }


        h1 {
            font-size: 50px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            font-weight: 900;
            margin-top: 100px;
            margin-bottom: 50px;

            @media (max-width: $screen-xs-max) {
                font-size: 37px;
                letter-spacing: 0.1em;
                margin-top: 70px;
            }

            span {
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
                padding: 2px 20px;
            }
        }

        h2 {
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 50px;

            @media (max-width: $screen-xs-max) {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 22px;
            line-height: 1.4;

            @media (max-width: $screen-xs-max) {
                font-size: 18px;
            }

            a {
                color: $white;
            }
        }
    }

    &Main {
        padding: 35px 0 50px;

        @media (max-width: $screen-xs-max) {
            padding-bottom: 25px;
        }

        h4 {
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 60px;

            @media (max-width: $screen-xs-max) {
                margin-bottom: 45px;
            }
        }

        &__practiceareas,
        &__representation,
        &__consultation {
            strong {
                font-weight: 400;
                display: block;
                margin-bottom: 15px;
            }

            ul {
                li {
                    padding-bottom: 8px;
                    font-weight: 300;
                }
            }
        }

        &__practiceareas {
            @media (max-width: $screen-xs-max) {
                margin-bottom: 45px;
            }
        }

        &__representation {
            margin-bottom: 45px;
        }
    }

    &Footer {
        font-weight: 300;
        padding-bottom: 50px;

        hr {
            margin-top: 0;
            margin-bottom: 50px;

            @media (max-width: $screen-xs-max) {
                margin-bottom: 35px;
            }
        }

        img {
            @media (max-width: $screen-xs-max) {
                margin-bottom: 25px;
            }
        }

        strong {
            font-weight: 400;
            display: block;
            margin-bottom: 15px;
        }

        &__fax {
            margin-bottom: 20px;
        }

    }
}
