extends layout

block content
  main.index
        section.indexHero
            .container-fluid
                .row
                    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                        h1 <span>Varo Law</span>
                        h2 Serving Tacoma, Pierce County, Thurston County and Surrounding regions and municipalities
                        h3 Free Phone Consultations: <br> Call <a href="tel:2539876664">253.987.6664</a>
        section.indexMain
            .container
                .row
                    .col-sm-12
                        h4 Jared R. Varo, Attorney at Law
                    //- .col-sm-2
                    //-     img(src="/img/jared.jpg" class="img-responsive indexMain__jared")
                    .col-sm-5.col-sm-offset-1
                        .indexMain__practiceareas
                            strong Practice Areas:
                            ul
                                li Criminal Defense
                                li Domestic Violence
                                li Domestic Violence Protection Orders
                                li Family Law
                                li Divorce and Dissolution
                                li Legal Separation
                                li Parenting Plans
                                li Modification of Parenting Plans
                                li Child Support
                                li Modification of Child Support
                                li Civil Contempt
                                li Paternity
                                li Third Party Custody
                                li DUI
                                li Driving Offenses

                        .indexMain__consultation
                            strong Free Phone Consultations
                            ul
                                li Call <a href="tel:2539876664">253.987.6664</a>


                    .col-sm-5
                        .indexMain__representation
                            strong Flexible Representation and Reasonable Costs:
                            ul
                                li Hourly Rates
                                li Flat Fee Representation
                                li Unbundled Legal Services
                                li Limited Scope Representation
                                li Sliding Scale
                                li Low-Bono

                        .indexMain__areas
                            strong Areas Served
                            ul
                                li Tacoma
                                li Pierce County
                                li Lakewood
                                li Ruston
                                li Fircrest
                                li Gig Harbor
                                li University Place
                                li Federal Way
                                li Steilacoom
                                li DuPont
                                li Thurston County
                                li Olympia


        section.indexFooter
            .container
                hr
                .row
                    .col-md-2.col-md-offset-3.col-sm-4.col-sm-offset-2
                        img(src="/img/jared.jpg" class="img-responsive indexMain__jared")
                    .col-md-4.col-sm-6
                        strong Contact Information:
                        .indexFooter__email Email: <a href="mailto:jared@varolaw.com">jared@varolaw.com</a>
                        .indexFooter__phone Phone: <a href="tel:2539876664">253.987.6664</a>
                        .indexFooter__fax Fax: <a href="tel:2532678443">253.267.8443</a>
                        .indexFooter__address 1010 South L Street, Unit D <br> Tacoma, WA 98405

